
.image-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  top: 10px; 
  left: 10px;
  z-index: 1; 
  opacity: 1; 
  width: 20px; 
  display: none;
  height: 20px;
  cursor: pointer;
}

.checkbox-hidden {
  display: block;
}

.image-container:hover .checkbox {
  display: block;
}

.image-container:hover .checkbox {
  display: block;
}


.image-container:hover .checkbox {
  display: block;
}

.image-container:hover img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.big-image img {
  width: 70%; 
  height: 70%;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}
